{% extends 'construction/base.html' %}
{% block content %}
  <div class="card" style="width: 100%;">
  <div class="card-header">
  <h4>Cash Receiving Voucher</h4>
  </div>
  <ul class="list-group list-group-flush">
  <form  action="" id="new-crv-form" autocomplete="off"  method="post">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Transaction ID</label>
          <input type="text" readonly class="form-control form-control-sm" required value="{{ get_last_tran_id }}" id="crv-tran_id">
        </div>
        <div class="form-group col-md-2">
          <label for="">Document No</label>
          <input type="text" class="form-control form-control-sm" required id="crv-doc_no">
        </div>
        <div class="form-group col-md-2">
          <label for="">Date</label>
          <input type="date"  class="form-control form-control-sm" required value="" id="crv-date">
        </div>
        <div class="form-group col-md-2">
          <label for="">Document Date</label>
          <input type="date"  class="form-control form-control-sm" required value="" id="crv-doc_date">
        </div>
        <div class="form-group col-md-2">
          <label for="">Description</label>
          <textarea name="name" style="width:370px; height:30px;" id="crv-description"></textarea>
        </div>
      </div>
      <div class="table-title">
          <div class="row">
            <div class="col-md-2">
              <label for="">Customers</label>
              <select class="form-control form-control-sm" id="crv-account_title">
                <option value="">Select: </option>
                {% for cof in chartofaccount %}
                <option value="{{cof.id}}">{{cof.account_title}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-2">
              <label for="">Project</label>
              <select class="form-control form-control-sm" id="crv-project_id">

              </select>
            </div>
              <div class="form-group col-md-2">
                <label for="">Amount</label>
                <input type="text" id="amount" class="form-control form-control-sm"/>
              </div>
              <div class="form-group col-md-2">
                <button type="button" style="margin-top:30px;" class="btn btn-info btn-sm load-invoices" id='insert-crv-account-to-table' disabled='disabled'><i class="fa fa-plus"></i> Load</button>
              </div>
          </div>
      </div>
      </li>
    <li class="list-group-item">
    <div class="table table-responsive">
      <table class="table table-bordered" id="new-crv-table">
          <thead>
              <tr>
                  <th width="150px">Account Id</th>
                  <th width="250px">Account Title</th>
                  <th width="250px">Debit</th>
                  <th width="250px">Credit</th>
                  <th width="50px">Action</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    </li>
      <br>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary">Submit <small>(CR Voucher)</small></button>
    </div>
    <br>
  </form>
  </ul>
  </div>

  <script>
    $(".load-invoices").on('click',function(){
      req =	$.ajax({
       headers: { "X-CSRFToken": getCookie("csrftoken") },
       type: 'POST',
       url : '/transaction/cash_receiving_voucher/new',
       data:{
         'account_id':$("#crv-account_title option:selected").val(),
         'samp':"crvTable",
         'amount': $('#amount').val(),
       },
       dataType: 'json'
      })
      .done(function done(data) {
          $("#new-crv-table tbody").append("<tr><td>"+data.account_id+"</td><td>"+data.account_title+"</td><td>0.00</td><td>"+data.amount+"</td><td><button type='button' class='btn' id='delete-row-crv'><i class='fa fa-trash' style='color:#ff0000;'></i></button></td></tr>")

            $("#insert-crv-account-to-table").attr('disabled','disabled');
      })

    });

    $('#new-crv-table').on('click','#delete-row-crv',function(){
      var tr = $(this).closest('tr');
      tr.remove();
      var inp = $("#amount");
      if (inp.val().length > 0) {
      $("#insert-crv-account-to-table").removeAttr('disabled');
  }
    });
    function getCookie(c_name)
  {
  if (document.cookie.length > 0)
  {
      c_start = document.cookie.indexOf(c_name + "=");
      if (c_start != -1)
      {
          c_start = c_start + c_name.length + 1;
          c_end = document.cookie.indexOf(";", c_start);
          if (c_end == -1) c_end = document.cookie.length;
          return unescape(document.cookie.substring(c_start,c_end));
      }
  }
  return "";
  }
    $('#new-crv-table').on('click','#add-CRV',function(){
      var tr = $(this).closest('tr');
      var debitTd = tr.find('td:eq(2)');
      var creditTd = tr.find('td:eq(3)');
      var plus_button = tr.find('td:eq(4)');
      plus = plus_button.find('#add-CRV');
      plus.attr('hidden','true');
      pencil_button = plus_button.find('#edit-CRV');
      pencil_button.removeAttr('hidden');
      debitInput = debitTd.find('input');
      debitInput.attr('disabled','disabled');
      creditInput = creditTd.find('input');
      creditInput.attr('disabled','disabled');
    });

    $("#new-crv-table").on('click','#edit-CRV',function(){
      var tr = $(this).closest('tr');
      var debitTd = tr.find('td:eq(2)');
      var creditTd = tr.find('td:eq(3)');
      debitInput = debitTd.find('input');
      debitInput.removeAttr('disabled');
      creditInput = creditTd.find('input');
      creditInput.removeAttr('disabled');
      var plus_button = tr.find('td:eq(4)');
      plus = plus_button.find("#add-CRV");
      plus.removeAttr('hidden');
      plus_button = plus_button.find('#edit-CRV');
      plus_button.attr('hidden','hidden')
    });



    $("#crv-account_title").on('change', function(){
      main_object_id = this.value;
      req =	$.ajax({
       headers: { "X-CSRFToken": getCookie("csrftoken") },
       type: 'POST',
       url : '/transaction/cash_receiving_voucher/new',
       data:{
         'main_object_id':main_object_id ,
         'samp':"projectUpdate",
       },
       dataType: 'json'
      })
      .done(function done(data) {
        sub_menu = JSON.parse(data.sub_menu)
        $('#crv-project_id').empty()
        $('#crv-project_id').append($("<option></option>").attr("value",3).text("General"));
        for (var i = 0; i < sub_menu.length; i++) {
            $('#crv-project_id').append($("<option></option>").attr("value",sub_menu[i].pk).text(sub_menu[i].fields["projectName"]));
        }
      })
    });

    $("#new-crv-form").on('submit', function(e){
      e.preventDefault();
        var table = $('#new-crv-table');
        var data = [];

        table.find('tr').each(function (i, el){
            if(i != 0)
            {
                var $tds = $(this).find('td');
                var row = {
                    'AccountId' : "",
                    'Debit':"",
                    'Credit':"",
                };
                $tds.each(function(i, el){
                    if(i == 0){
                      console.log($(this).text());
                        row['AccountId'] = ($(this).text());
                    }
                    else if (i == 2){
                        row['Debit'] = ($(this).text());
                    }
                    else if (i == 3){
                        row["Credit"] = ($(this).text());
                    }
                });
                data.push(row);
                console.log(data);
            }
        });

        req =   $.ajax({
                    headers: { "X-CSRFToken": getCookie("csrftoken") },
                    type: 'POST',
                    url : '/transaction/cash_receiving_voucher/new',
                    data:{
                        'items': JSON.stringify(data),
                        'doc-date': $("#crv-doc_date").val(),
                        'date': $("#crv-date").val(),
                        'documentNo': $("#crv-doc_no").val(),
                        'transactionId': $("#crv-tran_id").val(),
                        'description': $("#crv-description").val(),
                        'project': $("#crv-project_id option:selected").val(),
                        'account_id':$("#crv-account_title option:selected").val(),
                    },
                    dataType: 'json'
                })
        .done(function done(data){
          alert("successfully submitted")
            location.reload();
        })
    })
    $("#amount").blur(function(){
    var inp = $("#amount");
    if (inp.val().length > 0) {
    $("#insert-crv-account-to-table").removeAttr('disabled');
}
  else if(inp.val().length == 0) {
    $("#insert-crv-account-to-table").attr('disabled','disabled');
  }

});

  </script>
{% endblock %}
