{% load mathfilters %}
<html>
<head>
  <title>{{header.dc_no}}</title>
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 30pt; width: 512pt; top: 20pt; height: 390pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 30pt; width: 535pt; top: 10pt; height: 780pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 30pt; width: 535pt; top: 755pt; height: 120pt;
        }
    }
    table > thead > tr > th {
      text-align: center;
      font-family: "Times New Roman", Times, serif;
        }
        table > thead > tr > td {
          text-align: center;
          font-family: "Times New Roman", Times, serif;
        }
        .no-bottom-border{
            border-bottom:none;
        }
        .heading_row{
          border:1px solid black;
        }
</style>
</head>
<body>
    <div id="header_content">
      <div>
         {% for value in company_info %}
         <h1 style="text-align:center; font-size:400%; font-family: "Times New Roman", Times, serif; " color="#0a012c" ><b>{{value.companyName}}</b></h1>
         {% endfor %}
         <p style="text-align:center; padding-top:-60px ; font-family: "Times New Roman", Times, serif; " color="#0a012c"  ><font size="14px">Purchase Detail Summary (Project Wise)</font></p>
         <br/>
         <p style="text-align:center; font-size:150%; padding-top:-20px ; font-family: "Times New Roman", Times, serif; " color="#0a012c">From: <b>{{from_date}}</b>    To: <b>{{to_date}}</b></p>
     </div>
    </div>
<!-- Content for Static Frame 'footer_frame' -->
<div id="footer_content">
  <div class="footer">
     </div>
  page <pdf:pagenumber> of <pdf:pagecount>
  <p style="text-align:center;">Software Developed By TechFurq, 92 322 2832789, info@techfurq.com, www.techfurq.com</p>
</div>
    <!-- HTML Content -->
  <br>
  <br>
  <div class="body">
     <br>
     <br>
     <br>
     <header>
       <table style="border-radius: 55px; border-bottom:1px solid black; border-spacing: 40px 10px;" cellpadding="3" bgcolor="#f7f7f7">
       </table>
     </header>
     <br>
          <br>
               <br>
     <table cellpadding="3" id="item_table" repeat="1">
        <thead>
          <tr class="heading_row">
            <th width="50px"><font size="14px">S no: </font></th>
            <th width="280px"><font size="14px">Item Detail</font></th>
            <th width="90px"><font size="14px">Unit</font></th>
            <th width="90px"><font size="14px">Quantity</font></th>
            <th width="90px"><font size="14px">Rate</font></th>
            <th width="110px"><font size="14px">Amount</font></th>
          </tr>
        </thead>
      </table>
      <br>
     {% for value in purchase_detail_list %}
      <table cellpadding="2" id="item_table" repeat="1">
         <thead>
           <tr class="">
             <th align="left" width="50px" ><font size="14px">Client Name : </font></th>
             <td style="margin-left:10px;"><font size="14px">{{value.client_name}}</font></td>
           </tr>
           <tr class="">
             <th align="left" width="190px" style="margin-left:30px;"><font size="14px">Project Name : </font></th>
             <td style="margin-left:20px;"><font size="14px">{{value.project_name}}</font></td>
           </tr>
           <tr class="">
             <th align="left" width="230px" style="margin-left:60px;"><font size="14px">Supplier Name : </font></th>
             <td style="margin-left:30px;"><font size="14px">{{value.supplier_name}}</font></td>
           </tr>
           <tr class="">
             <th align="left"><font size="14px">Invoice No :</font></th>
             <td ><font size="14px">{{value.invoice_no}}</font></td>
             <th align="left"><font size="14px">Invoice Date :</font></th>
             <td style="margin-left:40px;"><font size="14px">2019-10-12</font></td>
           </tr>
         </thead>
       </table>
       <table cellpadding="2">
         <tbody>
           <tr>
             <td width="50px" align="center" style="border-bottom:1px solid black;"><font size="14px"></font></td>
             <td width="280px"style="border-bottom:1px solid black;" ><font size="14px"></font></td>
             <td width="90px" align="center" style="border-bottom:1px solid black;"><font size="14px"></font></td>
             <td width="90px" align="right" style="border-bottom:1px solid black;"><font size="14px"></font></td>
             <td width="90px" align="right" style="border-bottom:1px solid black;"><font size="14px"></font></td>
             <td width="110px" align="right" style="border-bottom:1px solid black;"><font size="14px"></font></td>
           </tr>
           {% for i in purchase_detail %}
           {% if i.purchaseHeaderId.purchaseHeaderId == value.invoice_no %}
           <tr>
             <td width="50px" align="center" style="border-right:1px solid black; border-left:1px solid black;"><font size="14px">{{forloop.counter}}</font></td>
             <td width="280px"style="border-right:1px solid black; border-left:1px solid black;" ><font size="14px">{{i.itemId.itemName}}</font></td>
             <td width="90px" align="center" style="border-right:1px solid black; border-left:1px solid black;"><font size="14px">{{i.itemId.unit}}</font></td>
             <td width="90px" align="right" style="border-right:1px solid black; border-left:1px solid black;"><font size="14px">{{i.purchaseQuantity}}</font></td>
             <td width="90px" align="right" style="border-right:1px solid black; border-left:1px solid black;"><font size="14px">{{i.purchasePrice}}</font></td>
             <td width="110px" align="right" style="border-right:1px solid black; border-left:1px solid black;"><font size="14px">{{i.total}}</font></td>
           </tr>
           {% endif %}
           {% endfor %}
           <tr>
             <td width="50px" align="center" style="border-top:1px solid black;"><font size="14px"></font></td>
             <td width="280px"style="border-top:1px solid black;" ><font size="14px"></font></td>
             <td width="90px" align="center" style="border-top:1px solid black;"><font size="14px"></font></td>
             <td width="90px" align="right" style="border-top:1px solid black;"><font size="14px"></font></td>
             <td width="90px" align="right" style="border-top:1px solid black;"><font size="14px"></font></td>
             <td width="110px" align="right" style="border-top:1px solid black;"><font size="14px"></font></td>
           </tr>
           <tr>
             <td width="50px"></td>
             <td width="280px"></td>
             <td width="90px"></td>
             <td width="90px" align="right" colspan="2"><font size="14px"><b>Total Inv Amount:</b></td>
             <td width="90px" align="right"><font size="14px">{{value.total_amount}}</td>
           </tr>
           <tr>
             <td width="50px"></td>
             <td width="280px"></td>
             <td width="90px"></td>
             <td width="90px" align="right" colspan="2"><font size="14px"><b>Total Paid Amount:</b></td>
             <td width="90px" align="right"><font size="14px">{{value.paid_amount}}</td>
           </tr>
           <tr>
             <td width="50px"></td>
             <td width="280px"></td>
             <td width="90px"></td>
             <td width="90px" align="right" colspan="2"><font size="14px"><b>Total Balance Amount:</b></td>
             <td width="90px" align="right"><font size="14px">{{value.balance_amount}}</td>
           </tr>
         </tbody>
       </table>
       <hr>
      {% endfor %}
  <br>
</div>
</body>
</html>